<html ng-app="yourlifeinweeksApp">
<head>
	<title>Your Life In Weeks</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
	<script src="js/project.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	
	<!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
<head/>

<body ng-controller="WeeksCtrl">
<div class="container">

<div id="header">
Your Life In Weeks
</div>

<div class="row">
  <!-- left -->
  <div class="col-md-3"></div>
  
  <!-- center main div -->
  <div class="col-md-6">

  <!-- TODO repeat med eksplicit y og w index -OK 
            og function (y,w) -> dato
            og function (dato) -> event (inkl farve) -->
  <div align="center">
  <table>
    <tr class="year_row" ng-repeat="y in range(90)">
      <td class="week" ng-repeat="w in range(52) track by w">
        <!-- <div>{{y}}-{{w}}</div> -->
        <div></div>
      </td>
    </tr>
  </table>
  </div>
  </div>
  
  <!-- right -->
  <div class="col-md-3"></div>
</div>



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>    
</div> <!-- /container -->
</body>
</html>
