body {
    font-family: "Verdana";
}

#header {
    text-align: center;
    font-size: 150%;
    padding: 25;
}


.week {
	border: 1px solid lightgrey;
}

table {
	align: center;
	border: 1px solid yellow;
}
table td > div {
    overflow: hidden;
	width:  6px;
	height: 6px;
}