body {
    font-family: "Verdana";
}

#header {
    text-align: center;
    font-size: 150%;
    padding-bottom: 50;
}

#weeks {
	width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
	border: 1px solid lightgrey;
}

.week {
	border: 1px solid black;
	width: 8px;
	height: 8px;
	display: inline-block;
}

.week-breaker {
	border: 1px solid black;
	width: 8px;
	height: 8px;
	clear: right;
}

.yellow {
	background-color: yellow;
}

